@import "./../../../styles/variables.scss";

.serviceContainer {
  padding: 5rem;
  .header {
    margin-bottom: 4rem;
    p,
    h6 {
      font-size: 1rem;
    }

    h2 {
      text-align: start;
      margin-bottom: 0.25rem;
      color: $primary-text;
    }

    p {
      max-width: 35rem;
    }
  }

  .serviceCards {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 850px) {
  .serviceContainer {
    padding: 4rem 2rem;

    .serviceCards {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media (max-width: 600px) {
  .serviceContainer {
    .serviceCards {
      grid-template-columns: 1fr;
    }
  }
}
